.skills-container {
}

.skill-items {
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 35px;
    width: 50%;
}

.skill-item-content {
    border-radius: 8px;
    padding: 15px 10px;
    transition: .6s;
}

.dark-mode .skill-item-content {
    background-color: rgb(255 255 255 / 2%);
    box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
}

.dark-mode .skill-item-content:hover {
    background-color: rgb(255 255 255 / 6%);
}

.light-mode .skill-item-content {
    background-color: rgba(255, 255, 255, 50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.light-mode .skill-item-content:hover {
    background-color: rgb(128 128 128 / 6%);
}

.skill-item-sub-title {
    padding-top: 21px;
    text-align: start;
    margin-left: 21px;
    font-size: .8rem;
    opacity: .8;
}

.skill-item-image {
    width: 32px;
    height: 30px;
}

.skill-item-name {
    font-size: .82rem;
    margin-top: 8px;
    text-align: center;
    padding: 0 6px;
}

.skills-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    overflow-x: scroll;
}

.skills-menu-button {
    margin: 12px;
    padding: 6px 12px;
    border-radius: 16px;
    white-space: nowrap;
    font-size: .82rem;
    font-weight: 600;
    border: 1px solid grey;
}

.dark-mode .skills-menu-button {
    background: var(--dark-mode-bg);
    color: var(--light-mode-color);
}

.light-mode .skills-menu-button {
    background: var(--light-mode-bg);
    color: var(--dark-mode-color);
}

.dark-mode .skills-menu-button-active {
    background: var(--light-mode-bg);
    color: var(--dark-mode-color);
}

.light-mode .skills-menu-button-active {
    background: var(--dark-mode-color);
    color: var(--light-mode-color);
}

@media (min-width: 768px) {

    .skill-item {
        width: calc(100% / 3);
    }

}