.cursor-container {
    z-index: 100;
}

.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid darkgray;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 100;
}

.cursor-inner {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 100;
}

.light-mode .cursor-inner {
    background-color: black;
}

.dark-mode .cursor-inner {
    background-color: darkgray;
}

.cursor-inner-hover {
    width: 50px;
    height: 50px;
    opacity: .5;
}

.cursor-hover {
    opacity: .6;
}
