.office-container, .office-container canvas {
    display: block;
    height: 100%;
}

.office-container canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.office-html-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    overflow: hidden;
}

.office-loading {
    margin-top: 21px;
    font-size: 1.5em;
    color: #FFFFFF;
    border-radius: 21px;
    animation: loading 2s linear infinite;
}


