.about-me-avatar {
    margin-bottom: 30px;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    display: flex;
    margin-left: 50px;
}

.about-me-text-container {
    padding: 32px;
    font-size: .85rem;
}

.about-me-emoji-hand {
    color: #FFCA28;
}

/*.about-me-images-container {
    margin: 21px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-me-image-1 {
    width: 30%;
    height: 160px;
}

.about-me-image-2 {
    width: 25%;
}

.about-me-image-3 {
    width: 35%;
}


.about-me-image-4 {
    width: 20%;
}

.about-me-image-5 {
    width: 30%;
    height: 130px;
}

.about-me-image-6 {
    width: 50%;
    height: 130px;
}

 */