.home-container {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    z-index: 2;
}

.light-mode .home-container {
    background-color: var(--light-mode-bg);
    color: var(--dark-mode-color);
}

.dark-mode .home-container {
    background-color: var(--dark-mode-bg);
    color: var(--light-mode-color);
}

.home-name-container {
    font-weight: 600;
}

.home-loading {
    margin-top: 21px;
    font-size: 1.2em;
    border-radius: 21px;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.home-start-button {
    margin-top: 30px;
    text-align: center;
}

.home-start-button i {
    font-size: .8em;
    padding: 10px 5px;
    border-radius: 21px;
    transition: 0.3s ease-in-out;
    opacity: .9;
}

.home-start-button i:hover {
    opacity: 1;
}

.light-mode .home-start-button i {
    color: var(--dark-mode-color);
    border: 1px solid var(--dark-mode-bg);
}

.light-mode .home-start-button i:hover {
    background-color: var(--dark-mode-bg);
    color: var(--light-mode-color);
}

.dark-mode .home-start-button i {
    color: var(--light-mode-color);
    border: 1px solid var(--light-mode-color);
}

.dark-mode .home-start-button i:hover {
    background-color: var(--light-mode-color);
    color: var(--dark-mode-color);
}
