@font-face {
    font-family: "dcIcons";
    src: url("../fonts/dcIcons.eot?45fd69fa3c18c98ee79c60e8c73a637e#iefix") format("embedded-opentype"),
url("../fonts/dcIcons.svg?45fd69fa3c18c98ee79c60e8c73a637e#dcIcons") format("svg"),
url("../fonts/dcIcons.ttf?45fd69fa3c18c98ee79c60e8c73a637e") format("truetype"),
url("../fonts/dcIcons.woff?45fd69fa3c18c98ee79c60e8c73a637e") format("woff"),
url("../fonts/dcIcons.woff2?45fd69fa3c18c98ee79c60e8c73a637e") format("woff2");
}

i[class^="dcIcon-"]:before, i[class*=" dcIcon-"]:before {
    font-family: dcIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dcIcon-arrow-up:before {
    content: "\f101";
}
.dcIcon-close-circle:before {
    content: "\f102";
}
.dcIcon-contact:before {
    content: "\f103";
}
.dcIcon-globe:before {
    content: "\f104";
}
.dcIcon-help:before {
    content: "\f105";
}
.dcIcon-light:before {
    content: "\f106";
}
.dcIcon-loading:before {
    content: "\f107";
}
.dcIcon-moon-outline:before {
    content: "\f108";
}
.dcIcon-moon-sharp:before {
    content: "\f109";
}
.dcIcon-settings:before {
    content: "\f10a";
}
.dcIcon-smile:before {
    content: "\f10b";
}
.dcIcon-virtual-reality-glasses:before {
    content: "\f10c";
}
