@font-face {
    font-family: "dcIcons";
    src: url("../fonts/dcIcons.eot?24f0fed5990bf8d2707bb46965d9e0d0#iefix") format("embedded-opentype"),
url("../fonts/dcIcons.svg?24f0fed5990bf8d2707bb46965d9e0d0#dcIcons") format("svg"),
url("../fonts/dcIcons.ttf?24f0fed5990bf8d2707bb46965d9e0d0") format("truetype"),
url("../fonts/dcIcons.woff?24f0fed5990bf8d2707bb46965d9e0d0") format("woff"),
url("../fonts/dcIcons.woff2?24f0fed5990bf8d2707bb46965d9e0d0") format("woff2");
}

i[class^="dcIcon-"]:before, i[class*=" dcIcon-"]:before {
    font-family: dcIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dcIcon-about-me:before {
    content: "\f101";
}
.dcIcon-arrow-down:before {
    content: "\f102";
}
.dcIcon-arrow-up-2:before {
    content: "\f103";
}
.dcIcon-arrow-up:before {
    content: "\f104";
}
.dcIcon-at:before {
    content: "\f105";
}
.dcIcon-close-circle:before {
    content: "\f106";
}
.dcIcon-contact:before {
    content: "\f107";
}
.dcIcon-discord-logo:before {
    content: "\f108";
}
.dcIcon-facebook-logo:before {
    content: "\f109";
}
.dcIcon-github-logo:before {
    content: "\f10a";
}
.dcIcon-gitlab-logo:before {
    content: "\f10b";
}
.dcIcon-globe:before {
    content: "\f10c";
}
.dcIcon-graduation-cap:before {
    content: "\f10d";
}
.dcIcon-heart:before {
    content: "\f10e";
}
.dcIcon-help-outline:before {
    content: "\f10f";
}
.dcIcon-help:before {
    content: "\f110";
}
.dcIcon-instagram-logo:before {
    content: "\f111";
}
.dcIcon-light:before {
    content: "\f112";
}
.dcIcon-linkedin-logo:before {
    content: "\f113";
}
.dcIcon-loading:before {
    content: "\f114";
}
.dcIcon-mail:before {
    content: "\f115";
}
.dcIcon-moon-outline:before {
    content: "\f116";
}
.dcIcon-moon-sharp:before {
    content: "\f117";
}
.dcIcon-music-note-off:before {
    content: "\f118";
}
.dcIcon-music-note:before {
    content: "\f119";
}
.dcIcon-settings:before {
    content: "\f11a";
}
.dcIcon-skills:before {
    content: "\f11b";
}
.dcIcon-smile:before {
    content: "\f11c";
}
.dcIcon-snapchat-logo:before {
    content: "\f11d";
}
.dcIcon-twitter-logo:before {
    content: "\f11e";
}
.dcIcon-user-graduate:before {
    content: "\f11f";
}
.dcIcon-user:before {
    content: "\f120";
}
.dcIcon-virtual-reality-glasses:before {
    content: "\f121";
}
.dcIcon-wave-large:before {
    content: "\f122";
}
.dcIcon-wave-small:before {
    content: "\f123";
}
.dcIcon-work-experience:before {
    content: "\f124";
}
