@font-face {
    font-family: "dcIcons";
    src: url("../fonts/dcIcons.eot?7ea91364276e8d5f895703438492083a#iefix") format("embedded-opentype"),
url("../fonts/dcIcons.svg?7ea91364276e8d5f895703438492083a#dcIcons") format("svg"),
url("../fonts/dcIcons.ttf?7ea91364276e8d5f895703438492083a") format("truetype"),
url("../fonts/dcIcons.woff?7ea91364276e8d5f895703438492083a") format("woff"),
url("../fonts/dcIcons.woff2?7ea91364276e8d5f895703438492083a") format("woff2");
}

i[class^="dcIcon-"]:before, i[class*=" dcIcon-"]:before {
    font-family: dcIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dcIcon-arrow-up:before {
    content: "\f101";
}
.dcIcon-at:before {
    content: "\f102";
}
.dcIcon-close-circle:before {
    content: "\f103";
}
.dcIcon-contact:before {
    content: "\f104";
}
.dcIcon-globe:before {
    content: "\f105";
}
.dcIcon-help-outline:before {
    content: "\f106";
}
.dcIcon-help:before {
    content: "\f107";
}
.dcIcon-light:before {
    content: "\f108";
}
.dcIcon-loading:before {
    content: "\f109";
}
.dcIcon-mail:before {
    content: "\f10a";
}
.dcIcon-moon-outline:before {
    content: "\f10b";
}
.dcIcon-moon-sharp:before {
    content: "\f10c";
}
.dcIcon-music-note-off:before {
    content: "\f10d";
}
.dcIcon-music-note:before {
    content: "\f10e";
}
.dcIcon-settings:before {
    content: "\f10f";
}
.dcIcon-smile:before {
    content: "\f110";
}
.dcIcon-user:before {
    content: "\f111";
}
.dcIcon-virtual-reality-glasses:before {
    content: "\f112";
}
.dcIcon-wave-large:before {
    content: "\f113";
}
.dcIcon-wave-small:before {
    content: "\f114";
}
