.dashboard-side-bar {
    width: 45px;
    padding: 45px 2px 6px 2px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 grey, 0 2px 6px 2px rgb(60 64 67 / 15%);
    position: absolute;
    top: 18px;
    left: 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    z-index: 2;
}

.dashboard-side-bar-content {
    width: 80%;
    height: 250px;
    border-top: 1px solid rgba(60, 64, 67, 0.15);
    border-bottom: 1px solid rgba(60, 64, 67, 0.15);
    border-radius: 5px;
    padding: 6px 0;
    margin: 6px 0 6px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    z-index: 50;
}

.dashboard-side-bar-icon {
    border: 1px solid rgba(60, 64, 67, 0.15);
    margin: 25px 0;
    padding: 6px 7px;
    border-radius: 6px;
}

.dashboard-side-bar-icon:hover {
    visibility: visible;
}

.dashboard-side-bar-toggle-icon-container {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-side-bar-toggle-icon {
    font-size: 1.2rem;
}

.dashboard-content {
    position: absolute;
    width: calc(100% - 100px);
    height: calc(100% - 150px);
    left: 80px;
    top: 82px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    z-index: 1;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.dashboard-content::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.dashboard-first-line, .dashboard-second-line {
    margin: 15px;
    display: flex;
}

.dashboard-first-line > *, .dashboard-second-line > * {
    display: block;
    border-radius: 8px;
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.dashboard-first-line > about-me {
    min-width: 360px;
    height: 421px;
}

.dashboard-first-line > education {
    margin-left: 15px;
    min-width: 300px;
    height: 421px;
}

.dashboard-first-line > experience {
    margin-left: 15px;
    margin-right: 15px;
    min-width: 300px;
    height: 421px;
}

.dashboard-second-line {
    margin-top: 15px;
}

.dashboard-second-line > skills {
    min-width: 360px;
    height: 421px;
}

.dashboard-second-line > projects {
    margin-left: 15px;
    min-width: 360px;
    height: 421px;
}