.intro-light {
    color: #000000;
}

.intro-dark {
    color: #FFFFFF;
}

.intro-container {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    z-index: 2;
}

.container-light {
    background-color: #FFFFFF;
}

.container-dark {
    background-color: #000000;
}

.intro-name-container {
    font-weight: 600;
}

.intro-loading {
    margin-top: 21px;
    font-size: 1.2em;
    border-radius: 21px;
    animation: loading 2s linear infinite;
}

.intro-dark .intro-loading {
    color: #FFFFFF;
}

.intro-light .intro-loading {
    color: #000000;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.intro-stop-container {
    margin-top: 30px;
    text-align: center;
}

.intro-stop-container i {
    font-size: .8em;
    padding: 10px 5px;
    border-radius: 21px;
    transition: 0.3s ease-in-out;
    opacity: .9;
}

.intro-light .intro-stop-container i {
    color: #000000;
    border: 1px solid #000000;
}

.intro-dark .intro-stop-container i {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.intro-stop-container i:hover {
    opacity: 1;
}

.intro-light .intro-stop-container i:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.intro-dark .intro-stop-container i:hover {
    background-color: #FFFFFF;
    color: #000000;
}
