.sound-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AAAAAA;
    opacity: .8;
    border-radius: 50%;
    padding: 2px;
}

.sound-container:hover {
    background-color: gray;
}

.sound-box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    --boxSize: 2px;
    --gutter: 4px;
    width: calc((var(--boxSize) + var(--gutter)) * 5);
    padding: 4px;
}

.sound-box {
    transform: scaleY(.3);
    height: 60%;
    background-color: #FAFAFA;
    width: var(--boxSize);
    border-radius: 8px;
}

.sound-box:nth-child(1) {
    transform: scaleY(.4);
}

.sound-box:nth-child(2) {
    transform: scaleY(.7);
}

.sound-box:nth-child(3) {
    transform: scaleY(.5);
}

.sound-box:nth-child(4) {
    transform: scaleY(.8);
}

.sound-box:nth-child(5) {
    transform: scaleY(.5);
}

.sound-box-enable {
    transform: scaleY(.3);
    height: 60%;
    background-color: #FAFAFA;
    width: var(--boxSize);
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
}

.sound-box-1 {
    animation-name: quiet;
}

.sound-box-2 {
    animation-name: normal;
}

.sound-box-3 {
    animation-name: quiet;
}

.sound-box-4 {
    animation-name: loud;
}

.sound-box-5 {
    animation-name: quiet;
}

@keyframes quiet {
    25% {
        transform: scaleY(.6);
    }
    50% {
        transform: scaleY(.4);
    }
    75% {
        transform: scaleY(.8);
    }
}

@keyframes normal {
    25% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(.4);
    }
    75% {
        transform: scaleY(.6);
    }
}

@keyframes loud {
    25% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(.4);
    }
    75% {
        transform: scaleY(1.2);
    }
}