.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 25px 23px 30px;
    z-index: 3;
}

.light-mode .footer-container {
    color: #000000;
}

.dark-mode .footer-container {
    color: #FFFFFF;
}

.footer-container:nth-child(2) {
    align-items: start !important;
}

.footer-contact-container {
    display: flex;
    align-items: baseline;
    font-size: .70rem;
    position: relative;
}

.footer-contact-container i {
    padding-right: 6px;
    font-size: .70rem;
}

.footer-contact-container:after {
    content: '';
    position: absolute;
    width: 0;
    height: .112rem;
    display: block;
    left: 0;
    bottom: -4px;
    padding: 0 !important;
    transition: width .3s ease;
    opacity: .6;
}

.footer-contact-container:hover:after {
    width: 100%;
    left: 0;
    opacity: .6;
}

.light-mode .footer-contact-container:after, .light-mode .footer-contact-container:hover:after {
    background-color: #000000;
}

.dark-mode .footer-contact-container:after, .dark-mode .footer-contact-container:hover:after {
    background-color: #FFFFFF;
}


