*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

:root {
    font-family: Avenir, Verdana, sans-serif;
    --light-mode-bg: #F7F7F7;
    --light-mode-color: #F7F7F7;
    --dark-mode-bg: rgb(36, 36, 36);
    --dark-mode-color: rgb(36, 36, 36);
}

.light-mode {
    background-color: var(--light-mode-bg);
}

.dark-mode {
    background-color: var(--dark-mode-bg);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.light-mode ::-webkit-scrollbar-thumb {
    background: #ababab;
}

.dark-mode ::-webkit-scrollbar-thumb, .light-mode ::-webkit-scrollbar-corner {
    background: #cccccc;
}

.light-mode ::-webkit-scrollbar-track {
    background-color: var(--light-mode-bg);
}

.dark-mode ::-webkit-scrollbar-track {
    background-color: var(--dark-mode-bg);
}

html, body, main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h2 {
    font-size: 1.1rem;
}

.blink {
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -ms-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms;
    animation: blink 1.2s infinite;
}

.display-none {
    display: none !important;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
