* {
    cursor: none;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Avenir, Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.bg-light {
    background-color: #FFFFFF;
}

.bg-dark {
    background-color: #222222;
}

.blink {
    -webkit-animation-delay: 500ms; -moz-animation-delay: 500ms;
    -ms-animation-delay: 500ms; -o-animation-delay: 500ms; animation-delay: 500ms;
    animation: blink 1.2s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
