.modal-background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255 255 255 / 32%);
    z-index: 10;
}

.modal {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 2px 0 grey, 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    padding: 15px;
    text-align: center;
    z-index: 60;
}

.modal-zoom-in {
    animation: zoom-in .5s;
}

.modal-zoom-out {
    animation: zoom-out .3s;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header {
    padding-bottom: 8px;
}

.modal-light .modal-header {
    color: #000000;
    border-bottom: 1px solid rgba(60, 64, 67, 0.15);
}

.modal-dark .modal-header {
    color: #FFFFFF;
    border-bottom: 1px solid grey;
}

.modal-title {
    font-size: .8rem;
}

.modal-title i {
    padding-right: 5px;
}

.modal-light .modal {
    background-color: #FFFFFF;
}

.modal-dark .modal {
    background-color: #222222;
}

.modal-body {
    margin-top: 10px;
    height: 86%;
    overflow-y: auto;
}

@media (min-width: 1024px) {

    .modal-small {
        width: 30%;
        max-height: 95%;
    }

    .modal-medium {
        width: 60%;
        max-height: 95%;
    }

    .modal-large {
        width: 95%;
        max-height: 95%;
    }

}

@keyframes zoom-in {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@keyframes zoom-out {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0)
    }
}