.header-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 30px 30px;
}

.header-logo-container {
    display: flex;
    align-items: center;
    /* background: linear-gradient(green, yellow, red); */
    background: linear-gradient(#CCCCCC, #AAAAAA, #000000);
    border-radius: 50%;
    /* animation: rotate 3s linear infinite; */
    padding: 3px;
}

.header-logo {
    width: 1.8rem;
    color: #FFFFFF;;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 4px;
}

.header-logo:hover {
    transform: rotate(1080deg);
    transition: transform .6s linear;
}

.header-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 grey, 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    padding: 6px;
    border-radius: 10px;
}

.header-menu-container div {
    margin: 3px 6px;
}

.header-menu-container div i {
    padding: 3px;
    font-size: 1rem;
}

.header-locale-container i {
    font-size: .85rem !important;
    opacity: .6;
}

.header-locale-container span {
    padding-left: 5px;
    font-size: .8rem;
    opacity: .9;
}

.header-locale-container span:hover {
    opacity: 1;
}

@keyframes rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
